<div class="post">
{% csrf_token %}
  <a class="post_user" href="{% url 'profile' post.user %}">{{ post.user }}</a>

  {% if request.user == post.user %}
    <button class="edit_post_button btn btn-primary btn-sm" id="edit_post" name="{{ post.id }}">Edit</button>
  {% endif %}
  <p class="post_body" id="post_body_{{ post.id }}">{{ post.body }}</p>
  {% if request.user == post.user %}
  <div class="edit_view" id="edit_view_{{ post.id }}">
    <div class="form-group">
      <form class="edit_form" id ="edit_form_{{ post.id }}">
        {{NewPostForm}}
        <br>
        <button type="submit" class="btn btn-primary btn-sm">Save Changes</button>
        <button type="button" class="cancel_button btn btn-warning btn-sm" name="{{ post.id }}">Cancel</button>
      </form>
    </div>
  </div>
  {% endif %}
  <p class="post_timestamp">{{ post.timestamp}} </p>
  <p> Likes: &#128151; <span id="like_count_{{ post.id }}"> {{ post.total_likes }} </span> &#128151; </p>
  {% if request.user.is_authenticated %}
    {% if post.is_liked_by_current_user == True %}
      <button class="like_post_button btn btn-light btn-lg" id="like_button_{{ post.id }}" name="{{ post.id }}"> &#128151; Liked &#128151; </button>
    {% else %}
      <button class="like_post_button btn btn-light btn-lg" id="like_button_{{ post.id }}" name="{{ post.id }}"> &#9825; Like &#9825;</button>
    {% endif %}
  {% else %}
    <p> &#9825; - Login to Like a post </p>
  {% endif %}
</div>
