{% extends "network/layout.html" %}
{% load static %}

{% block body %}

<div class="container">
<h1> Posts by people what you is following </h1>

  <!-- {% for post in posts%}
  <div class="post">
    <a id="post_user" href="{{ post.user }}">{{ post.user }}</a>
    <p id="post_user">{{ post.user }}</p>
    <p id="post_body">{{ post.body }}</p>
    <p id="post_timestamp">{{ post.timestamp}}</p>
    <p id="post_likes">&#128151; {{ post.likes }} </p>
  </div>
  {% endfor %} -->
</div>


{% endblock %}

{% block script %}
    <script src="{% static 'network/network.js' %}"></script>
{% endblock %}
