{% extends "network/layout.html" %}
{% load static %}

{% block body %}
<div class="container">
  {% if request.user.is_authenticated %}
  <div id="new-post">
      <h3>New Post</h3>
      <div class="form-group">
        <form action="{% url 'new_post' %}" method="post">
            {% csrf_token %}
            {{NewPostForm}}
            <br>
            <button type="submit" class="btn btn-primary btn-lg">Post</button>
        </form>
      </div>
  </div>
  {% endif %}

    <div id="all-posts">
      <h3>All Posts</h3>

      {% for post in all_posts%}
      <div class="post">
        <a id="post_user" href="users/{{ post.user }}">{{ post.user }}</a>
        <!-- <p id="post_user">{{ post.user }}</p> -->
        <p id="post_body">{{ post.body }}</p>
        <p id="post_timestamp">{{ post.timestamp}}</p>
        <p id="post_likes">&#128151; {{ post.likes }} </p>
      </div>
      {% endfor %}
    </div>
</div>
{% endblock %}

{% block script %}
    <script src="{% static 'network/network.js' %}"></script>
{% endblock %}
