html, body{
}

.post{
  border: 2px solid black;
  margin: 5px;
  padding-left: 10px;
  padding-bottom: 0;
  border-radius: 6px;

  .post_user{
    font-size: 20px;
    margin-top: 15px;
    color: black;
  }

  .post_body{
    letter-spacing: 0.8px;
    line-height: 1.6;
    font-size: 20px;
    background-color: lightblue;
    border-radius: 10px;
    padding: 10px;
    padding-right: 20px;
    margin: 10px;
    white-space: pre-line;
    white-space: pre-wrap;
  }
  .post_timestamp{
    font-size: 15px;
    color: grey;
    margin: 0;
    padding: 0;

  }
  .post_likes{
    font-size: 25px;
  }

  .edit_form{
    textarea{
      width: 97%;
      height: 200px;
      letter-spacing: 0.8px;
      line-height: 1.6;
      font-size: 20px;
      background-color: lightgreen;
      border-radius: 10px;
      padding: 10px;
      padding-right: 20px;
      margin: 10px;
      white-space: pre-line;
      white-space: pre-wrap;
    }
  }
}

#new-post{

  #id_New_Post_Textfield{
    height: 100px;
    width: 68%;
    letter-spacing: 0.8px;
    line-height: 1.6;
    font-size: 20px;

  }
}
